

      <div id="new-form" class="NewsletterPopup">
        <img class="border" src="{{ 'popup-border.png' | asset_url }}" alt="border"/>
        <img class="plane" src="{{ 'plane.png' | asset_url }}" alt="plane"/>
        <div class="form-container">
        	{%- if section.settings.title != blank -%}
          <h2 class="NewsletterPopup__Heading Heading u-h2">{{ section.settings.title | escape }}</h2>
        {%- endif -%}

        {%- if section.settings.content1 != blank -%}
          <div class="NewsletterPopup__Content">
            {{ section.settings.content1 }}
          </div>
        {%- endif -%}

        {%- if section.settings.content2 != blank -%}
          <div class="NewsletterPopup__Content">
            {{ section.settings.content2 }}
          </div>
        {%- endif -%}

        {%- if section.settings.show_newsletter -%}
          {%- form 'customer', id: 'newsletter-popup', action: '/contact#newsletter-popup', class: 'NewsletterPopup__Form' -%}
            {%- if form.posted_successfully? -%}
              <p style="width: 90%; margin: auto;" class="Form__Alert Alert Alert--success">{{ 'general.popup.success' | t }}</p>
            {%- else -%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <input type="text" name="contact[first_name]" class="Form__Input newsletter_input" required="required" aria-label="{{ 'general.popup.first_name_placeholder' | t }}" placeholder="{{ 'general.popup.first_name_placeholder' | t }}">
        	  <input type="text" name="contact[last_name]" class="Form__Input newsletter_input" required="required" aria-label="{{ 'general.popup.last_name_placeholder' | t }}" placeholder="{{ 'general.popup.last_name_placeholder' | t }}">
              <input type="email" name="contact[email]" class="Form__Input newsletter_input" required="required" aria-label="{{ 'general.popup.email_placeholder' | t }}" placeholder="{{ 'general.popup.email_placeholder' | t }}">
              <button class="Form__Submit Button Button--primary Button--full newsletter_submit" type="submit">{{ 'general.popup.submit' | t }}</button>
            {%- endif -%}
          {%- endform -%}
        {%- endif -%}
        </div>

        <style>
          #new-form {
          	width: 330px;
            height: 340px;
            max-width: unset;
/*             top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%); */
            padding: 0;
            text-transform: uppercase;
    		font-family: Work Sans !important;
          }

          @media screen and (max-width: 767px) {
            #new-form {

            }
          }

          #new-form.NewsletterPopup {
            opacity: 1 !important;
            visibility: unset;
            position: relative;
            margin: auto;
            right: 0;
            left: 0 !important;
            z-index: 0;
          }

          #new-form .form-container {
          	position: absolute;
    		top: -10px;
          }

          #new-form h2 {
            margin-top: 40px;
            color: #14234C;
          }

          #new-form p {
           	color: #14234C;
          }

          #new-form p:first-of-type {
           	margin-bottom: 15px;
          }

          #new-form .NewsletterPopup__Form {
          	margin-top: 15px;
          }

          #new-form .plane {
            position: absolute;
            width: 39%;
            top: -7px;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            margin-top: 0 !important;
          }

          #new-form .border {
            position: absolute;
            left: -17px;
            top: -20px;
            width: 363px;
            height: 380px;
            max-width: unset;
            z-index: -1;
            margin-top: 0 !important;
          }

          #new-form .newsletter_submit {
          	font-family: Work Sans;
            font-size: 14px;
            padding: 5px;
            width: 90%;
            background-color: #14234C;
            margin: 15px auto 0;
                letter-spacing: 1px;
                font-weight: 600;
          }

          #new-form .newsletter_submit:hover {
           color: white !important;
          }

          #new-form .newsletter_submit::before {
            background-color: #14234C !important;
          }

          #new-form .Form__Input {
              text-align: center;
              border: none;
              border-bottom: 1px solid #14234C;
              width: 90%;
              margin: auto;
              padding: 3px;
              margin-bottom: 10px;
              font-size: 14px;
                letter-spacing: 1px;
          }

          #new-form .Form__Input::placeholder {
           	color: #14234C;
            opacity: 1;
          }

        </style>
      </aside>

{% schema %}
{
  "name": "mailer",
  "settings": [
  	{
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Matilda Mail"
    },
    {
      "type": "richtext",
      "id": "content1",
      "label": "Text",
      "default": "<p>Be in the know...</p>"
    },
    {
      "type": "richtext",
      "id": "content2",
      "label": "Text",
      "default": "<p>Sign up for insider tricks of the trade, recipes, discounts and more...</p>"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "Show newsletter form",
      "default": true
    }
  ]
}
{% endschema %}
